.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
/*     background: url('/assets/background.jpg') no-repeat center center/cover; */
  }
  
  .auth-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 350px;
  }
  
  .auth-box h2 {
    color: #ff7f50;
    margin-bottom: 1rem;
  }
  
  .auth-box input, .auth-box select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    background: #ff7f50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  .form-group {
    text-align: left;
  }

  .auth-box button:hover {
    background: #ff4500;
  }
  
  #error-message {
    color: red;
  }
  
  .auth-box a {
    color: #ff7f50;
    text-decoration: none;
  }
  
  .auth-box a:hover {
    text-decoration: underline;
  }

  #gray {
    color: rgb(192, 189, 189);
  }
  